{% extends 'base.html' %}



{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show " role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    {% endif %}
{% endwith %}

{% if  name %}
    <h1>Hello {{ name }} </h1>
    <br>
    <br>
{% else %}
    <h1>User List: </h1>
    <br>
    <form action="" method="post">
        {{ form.hidden_tag() }}

        {{ form.name.label(class="form-label") }}
        {{ form.name(class="form-control") }}
        <br>
        {{ form.email.label(class="form-label") }}
        {{ form.email(class="form-control") }}
        <br>
        {{ form.submit(class="btn btn-secondary") }}


    </form>

    <br>
    <br>
    <br>
    <table class="table table-striped-columns">
        <thead>
            <tr class="">
                <th>User ID</th>
                <th>User Name </th>
                <th>User Email</th>

            </tr>
        </thead>
        <tbody class="">
            {% for all_user in all_users %}
            <tr>
                <th scope="row">{{ all_user.id }}</th>
                <td>{{ all_user.name|capitalize }}</td>
                <td>{{ all_user.email }}</td>
            </tr>            

        </tbody>
        {% endfor %}
    </table>


{% endif %}

{% endblock %}
    
