{% extends 'base.html' %}



{% block content %}
{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        {% for category, message in messages %}
            <div class="alert alert-{{ category }} alert-dismissible fade show " role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}

    {% endif %}
{% endwith %}

<h1>Dashboard</h1>
<p>Passed: {{ passed }}</p>

<br>
<strong>User ID: </strong>
{{current_user.id}}<br>

<strong>Name: </strong> 
{{current_user.name}}<br>

<strong>Username: </strong>
{{current_user.username}}<br>


<strong>Email: </strong>
{{current_user.email}}<br>

<strong>Favourite Color: </strong>
{{current_user.favourite_color}}<br>

<strong>Date Joined: </strong>
{{current_user.date_added}}<br>
<br>

<a href="{{url_for('update', id=current_user.id)}}" class="btn btn-warning btn-sm">Update Profile</a> <a href="{{url_for('delete', id=current_user.id)}}" class="btn btn-outline-danger btn-sm">Delete user account</a>

<br>
<br>

<h1>Update Profile </h1>
    <br>
    <div class="shadow p-3 mb-5 bg-body-tertiary rounded col-sm-5 container-fluid">
        <form action="{{ url_for('dashboard', username=username )}}" method="post">
            {{ form.hidden_tag() }}
    
            {{ form.name.label(class="form-label") }}
            {{ form.name(class="form-control", value=current_user.name) }}
            <br>
            {{ form.email.label(class="form-label") }}
            {{ form.email(class="form-control", value=current_user.email) }}
            <br>
            {{ form.favourite_color.label(class="form-label") }}
            {{ form.favourite_color(class="form-control", value=current_user.favourite_color) }}
            <br>
            {{ form.username.label(class="form-label") }}
            {{ form.username(class="form-control disable", value=current_user.username) }}
            <br>
            
            {{ form.submit(class="btn btn-secondary btn-warning btn-sm", value="Update") }}
            <br>

    
    
        </form>
        <br>
        <hr class="border border-secondary border-2 opacity-50">
        <br>
        <p>Change your password by updating the password field below</p>
        <form action="{{url_for('update_password', id=current_user.id)}}" method="post">
            {{ form.hidden_tag() }}

            {{ form.password_hash.label(class="form-label") }}
            {{ form.password_hash(class="form-control", value=current_user.password_hash) }}
            <br>
            {{ form.password_hash2.label(class="form-label") }}
            {{ form.password_hash2(class="form-control ", value=current_user.password_hash) }}
            <br>
            <div class="form-check form-switch form-check-reverse">
                {{ form.show_password.label(class="form-check-label", for="flexSwitchCheckDefault", id="show_pw_txt") }}
                {{ form.show_password(class="form-check-input", role="switch") }}   
            </div> 
            <br>
            
            {{ form.submit(class="btn btn-secondary btn-warning btn-sm", value="Change Password") }}
            <br>
        </form>
        
    </div>

    <br>
    <br>
    <br>
    <p class="text-center"><a href="{{ url_for('dashboard', username=username)}}">Go Back</a></p>

{% endblock%}
