{% extends 'base.html' %}



{% block content %}
   {# <h1>Hello {{user.first_name|capitalize}}</h1>
    <p>This is my first webpage</p>
    <p>My name is {{ first_name }}</p>
    <p>{{ stuff|safe }}</p>
    <p>{{ stuff|striptags }}</p>

    {% for pizzar in favourite_pizzars %}

        {% if pizzar == 41 %}
            {{ pizzar + 100}}<br/>
        {% else %}
            {{ pizzar}}<br/>
        {% endif %}
    {% endfor %}
    #}

    <br>
<strong>User ID: </strong>
{{user.id}}<br>

<strong>Name: </strong> 
{{user.name}}<br>

<strong>Username: </strong>
{{user.username}}<br>


<strong>Email: </strong>
{{user.email}}<br>

<strong>Favourite Color: </strong>
{{user.favourite_color}}<br>

<strong>Date Joined: </strong>
{{user.date_added}}<br>
<br>
{% endblock %}
    
